body{
    background : url(picture/背景图2.jpg);
}
header h1,h2{
    color: blue ;
    animation: change 2s linear 0s infinite;
}
@keyframes change {

    0% {color: rgb(27, 23, 223);}
    50% {color: rgb(42, 196, 101);}
    75% {color:rgb(219, 23, 187)}
    100% {color: rgb(97, 112, 121);}
    }
.row{
    margin-top: 30px;

}